<a href="https://colab.research.google.com/github/MikeRoHer96/deep-learning-challenge/blob/main/Challenge_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

# Verify that the columns were dropped
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()

# Display the result
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df["APPLICATION_TYPE"].value_counts()

# Display the value counts
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_type_counts = application_df["APPLICATION_TYPE"].value_counts()

# Step 2: Define a cutoff value for rare categories
cutoff = 500

# Step 3: Create a list of application types to replace
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df["CLASSIFICATION"].value_counts()

# Display the value counts
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df["CLASSIFICATION"].value_counts()

# Filter to show only classifications that appear more than once
classification_counts[classification_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = application_df["CLASSIFICATION"].value_counts()

# Step 2: Define a cutoff value for rare categories
cutoff = 500  # Puedes ajustar este valor

# Step 3: Create a list of classifications to replace (those with fewer occurrences than the cutoff)
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=["APPLICATION_TYPE", "CLASSIFICATION"], drop_first=True)

# Verify the change by checking the first few rows of the DataFrame
application_df.head()

,AFFILIATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,...,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,CLASSIFICATION_C1200,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C3000,CLASSIFICATION_C7000,CLASSIFICATION_Other
0,Independent,ProductDev,Association,1,0,N,5000,1,True,False,...,False,False,False,False,False,False,False,False,False,False
1,Independent,Preservation,Co-operative,1,1-9999,N,108590,1,False,False,...,False,False,False,False,False,True,False,False,False,False
2,CompanySponsored,ProductDev,Association,1,0,N,5000,0,False,False,...,True,False,False,False,False,False,False,True,False,False
3,CompanySponsored,Preservation,Trust,1,10000-24999,N,6692,1,False,False,...,False,False,False,False,False,True,False,False,False,False
4,Independent,Heathcare,Trust,1,100000-499999,N,142590,1,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"]
X = application_df.drop(columns=["IS_SUCCESSFUL"])

# Split the data into training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Verify the split
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

# Split the preprocessed data into a training and testing dataset
y = application_df["IS_SUCCESSFUL"]
X = application_df.drop(columns=["IS_SUCCESSFUL"])

# Split the data into training and testing datasets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Verify the split by checking the shapes of the resulting datasets
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(27439, 21) (6860, 21) (27439,) (6860,)
(27439, 21) (6860, 21) (27439,) (6860,)

In [32]:
# Map 'INCOME_AMT' to numeric values if not done already
income_mapping = {
    '0': 0,
    '1-9999': 1,
    '10000-24999': 2,
    '25000-99999': 3,
    '100000-499999': 4,
    '500000-999999': 5,
    '1000000+': 6
}

# Apply the mapping to 'INCOME_AMT' in both X_train and X_test
X_train['INCOME_AMT'] = X_train['INCOME_AMT'].map(income_mapping)
X_test['INCOME_AMT'] = X_test['INCOME_AMT'].map(income_mapping)

# Apply pd.get_dummies() to categorical columns
categorical_columns = ['AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS']

# Ensure that these columns exist in X_train before applying pd.get_dummies
missing_columns = [col for col in categorical_columns if col not in X_train.columns]
if missing_columns:
    print(f"Missing columns in X_train: {missing_columns}")
else:
    X_train = pd.get_dummies(X_train, columns=categorical_columns, drop_first=True)
    X_test = pd.get_dummies(X_test, columns=categorical_columns, drop_first=True)

# Check the shape of X_train and X_test after encoding
print(X_train.shape, X_test.shape)

# Ensure X_train and X_test have the same columns
X_train, X_test = X_train.align(X_test, join='left', axis=1, fill_value=0)

# Check the columns after alignment
print(X_train.columns)

# Handle missing values if there are any
# Check for missing values in X_train and X_test
print(X_train.isnull().sum())  # Check for missing values in X_train
print(X_test.isnull().sum())   # Check for missing values in X_test

# If there are missing values, handle them
X_train = X_train.fillna(X_train.mean())
X_test = X_test.fillna(X_test.mean())

# Check for constant columns
constant_columns_train = [col for col in X_train if X_train[col].nunique() == 1]
constant_columns_test = [col for col in X_test if X_test[col].nunique() == 1]

# Drop constant columns if any
X_train.drop(columns=constant_columns_train, inplace=True)
X_test.drop(columns=constant_columns_test, inplace=True)

# Align columns before scaling (Double-check alignment)
# This step ensures both X_train and X_test have exactly the same columns before scaling
X_train, X_test = X_train.align(X_test, join='inner', axis=1)

# Scaling the data
scaler = StandardScaler()

# Fit the scaler on the training data and transform both training and testing data
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Verify the scaling by checking the first few rows of the scaled data
print(X_train_scaled[:5])

# Check if any NaN values still exist after scaling
print(pd.isnull(X_train_scaled).sum())
print(pd.isnull(X_test_scaled).sum())

Missing columns in X_train: ['AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS']
(25724, 29) (8575, 29)
Index(['INCOME_AMT', 'ASK_AMT', 'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19',
       'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5',
       'APPLICATION_TYPE_T6', 'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'CLASSIFICATION_C1200', 'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100',
       'CLASSIFICATION_C3000', 'CLASSIFICATION_C7000', 'CLASSIFICATION_Other',
       'AFFILIATION_Family/Parent', 'AFFILIATION_Independent',
       'AFFILIATION_National', 'AFFILIATION_Other', 'AFFILIATION_Regional',
       'USE_CASE_Heathcare', 'USE_CASE_Other', 'USE_CASE_Preservation',
       'USE_CASE_ProductDev', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust',
       'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')
INCOME_AMT                   25724
ASK_AMT                          0
APPLICATION_TYPE_T10             0
APPLICATION_TYPE_T19             0
APPLICATION_TYPE_T3              0
APPLICATION_TYPE_T4              0
APPLICATION_TYPE_T5              0
APPLICATION_TYPE_T6              0
APPLICATION_TYPE_T7              0
APPLICATION_TYPE_T8              0
CLASSIFICATION_C1200             0
CLASSIFICATION_C2000             0
CLASSIFICATION_C2100             0
CLASSIFICATION_C3000             0
CLASSIFICATION_C7000             0
CLASSIFICATION_Other             0
AFFILIATION_Family/Parent        0
AFFILIATION_Independent          0
AFFILIATION_National             0
AFFILIATION_Other                0
AFFILIATION_Regional             0
USE_CASE_Heathcare               0
USE_CASE_Other                   0
USE_CASE_Preservation            0
USE_CASE_ProductDev              0
ORGANIZATION_Co-operative        0
ORGANIZATION_Corporation         0
ORGANIZATION_Trust               0
SPECIAL_CONSIDERATIONS_Y         0
dtype: int64
INCOME_AMT                   8575
ASK_AMT                         0
APPLICATION_TYPE_T10            0
APPLICATION_TYPE_T19            0
APPLICATION_TYPE_T3             0
APPLICATION_TYPE_T4             0
APPLICATION_TYPE_T5             0
APPLICATION_TYPE_T6             0
APPLICATION_TYPE_T7             0
APPLICATION_TYPE_T8             0
CLASSIFICATION_C1200            0
CLASSIFICATION_C2000            0
CLASSIFICATION_C2100            0
CLASSIFICATION_C3000            0
CLASSIFICATION_C7000            0
CLASSIFICATION_Other            0
AFFILIATION_Family/Parent       0
AFFILIATION_Independent         0
AFFILIATION_National            0
AFFILIATION_Other               0
AFFILIATION_Regional            0
USE_CASE_Heathcare              0
USE_CASE_Other                  0
USE_CASE_Preservation           0
USE_CASE_ProductDev             0
ORGANIZATION_Co-operative       0
ORGANIZATION_Corporation        0
ORGANIZATION_Trust              0
SPECIAL_CONSIDERATIONS_Y        0
dtype: int64
[[        nan -0.03145581 -0.12439654 -0.17881097  0.51956203 -0.21936186
  -0.18798319 -0.19215508 -0.14781048 -0.14698452  2.49110462 -0.46559914
  -0.24404937 -0.24547676 -0.15241362 -0.21115639 -0.04413044 -1.07966868
  -0.02858365 -0.01079982 -0.01649829 -0.06401969 -0.00881785  0.47115253
  -0.44619096 -0.11846277 -0.03416998  0.67806062 -0.02858365]
 [        nan -0.03145581 -0.12439654 -0.17881097  0.51956203 -0.21936186
  -0.18798319 -0.19215508 -0.14781048 -0.14698452 -0.40142834 -0.46559914
  -0.24404937 -0.24547676 -0.15241362 -0.21115639 -0.04413044  0.92621007
  -0.02858365 -0.01079982 -0.01649829 -0.06401969 -0.00881785  0.47115253
  -0.44619096 -0.11846277 -0.03416998  0.67806062 -0.02858365]
 [        nan -0.03145581 -0.12439654 -0.17881097  0.51956203 -0.21936186
  -0.18798319 -0.19215508 -0.14781048 -0.14698452 -0.40142834 -0.46559914
  -0.24404937 -0.24547676 -0.15241362 -0.21115639 -0.04413044 -1.07966868
  -0.02858365 -0.01079982 -0.01649829 -0.06401969 -0.00881785  0.47115253
  -0.44619096 -0.11846277 -0.03416998  0.67806062 -0.02858365]
 [        nan -0.03145581 -0.12439654 -0.17881097  0.51956203 -0.21936186
  -0.18798319 -0.19215508 -0.14781048 -0.14698452 -0.40142834 -0.46559914
   4.09753156 -0.24547676 -0.15241362 -0.21115639 -0.04413044 -1.07966868
  -0.02858365 -0.01079982 -0.01649829 -0.06401969 -0.00881785  0.47115253
  -0.44619096 -0.11846277 -0.03416998  0.67806062 -0.02858365]
 [        nan -0.03145581 -0.12439654 -0.17881097 -1.92469798 -0.21936186
  -0.18798319 -0.19215508  6.7654201  -0.14698452 -0.40142834 -0.46559914
  -0.24404937 -0.24547676 -0.15241362 -0.21115639 -0.04413044 -1.07966868
  -0.02858365 -0.01079982 -0.01649829 -0.06401969 -0.00881785 -2.12245492
   2.24119286 -0.11846277 -0.03416998 -1.4747944  -0.02858365]]
25724
8575

/usr/local/lib/python3.11/dist-packages/sklearn/utils/extmath.py:1101: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/usr/local/lib/python3.11/dist-packages/sklearn/utils/extmath.py:1106: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
/usr/local/lib/python3.11/dist-packages/sklearn/utils/extmath.py:1126: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

## Compile, Train and Evaluate the Model

In [35]:
# Import necessary libraries
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(units=64, activation='relu', input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(Dense(units=32, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                      │ (None, 64)                  │           1,920 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_4 (Dense)                      │ (None, 32)                  │           2,080 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_5 (Dense)                      │ (None, 1)                   │              33 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 4,033 (15.75 KB)

 Trainable params: 4,033 (15.75 KB)

 Non-trainable params: 0 (0.00 B)

In [36]:
# Compile the model
nn.compile(optimizer='adam',
           loss='binary_crossentropy',
           metrics=['accuracy'])

In [39]:
# Train the model
# Train the model
history = nn.fit(X_train_scaled, y_train,
                 epochs=10,
                 batch_size=32,
                 validation_data=(X_test_scaled, y_test))

Epoch 1/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.4736 - loss: nan - val_accuracy: 0.4657 - val_loss: nan
Epoch 2/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.4731 - loss: nan - val_accuracy: 0.4657 - val_loss: nan
Epoch 3/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.4705 - loss: nan - val_accuracy: 0.4657 - val_loss: nan
Epoch 4/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.4673 - loss: nan - val_accuracy: 0.4657 - val_loss: nan
Epoch 5/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.4687 - loss: nan - val_accuracy: 0.4657 - val_loss: nan
Epoch 6/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.4713 - loss: nan - val_accuracy: 0.4657 - val_loss: nan
Epoch 7/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.4683 - loss: nan - val_accuracy: 0.4657 - val_loss: nan
Epoch 8/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.4673 - loss: nan - val_accuracy: 0.4657 - val_loss: nan
Epoch 9/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.4707 - loss: nan - val_accuracy: 0.4657 - val_loss: nan
Epoch 10/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.4696 - loss: nan - val_accuracy: 0.4657 - val_loss: nan

In [40]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.4657 - loss: nan
Loss: nan, Accuracy: 0.46565598249435425

In [43]:
# Export our model to HDF5 file
model_file_path = 'model.h5'
nn.save(model_file_path)

print(f"Model saved to {model_file_path}")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model saved to model.h5